
<div class="row">
  <div class="col text-center">
    <img class='main-logo' src="/images/main_logo.png">
  </div>
</div>
<div class='row bio-section p-5 justify-content-md-center'>
  <div class="col-md-auto">
    <img src='/images/daniel_image.jpg' class="daniel-image">
  </div>
  <div class='col bio-info'>
    <h1> Hello,</h1>
  </div>
</div>
